//Colors
$nav-primary-color: #495062;
$nav-secondary-color: #7B8191;

$font-primary: #616970;
$font-secondary: #616970;
$font-tertiary: #869099;

$card-text-bg-color: #fff;

$shadow-primary-color: 0 2px 4px rgba(0, 0, 0, 0.05);
$shadow-primary-color2: 0 2px 10px rgba(0, 0, 0, 0.10);

//Font
$font-family-primary: 'Helvetica Neue', sans-serif;
$h3-weight: bold;
$h4-weight: normal;
