//Colors
$nav-primary-color: #495062;
$nav-secondary-color: #7B8191;
$nav-height: 60px;

$font-primary: #616970;
$font-secondary: #616970;
$font-tertiary: #869099;
$font-white: #fff;
$font-beige: #E9ECF1;

$card-text-bg-color: #fff;
$background-color: #F9FAFC;

$label-hot: #FD5C63;
$label-new: #7ED321;
$label-sold: #869099;

$shadow-primary-color: 0 2px 4px rgba(0, 0, 0, 0.05);
$shadow-primary-color2: 0 2px 10px rgba(0, 0, 0, 0.10);
$shadow-nav: 0 1px 5px rgba(0, 0, 0, 0.1);
//Font
$font-family-primary: 'Helvetica Neue', sans-serif;
$h3-weight: bold;
$h4-weight: normal;
