@import '../../styles/global-variables.scss';
@import '../../styles/media-query.scss';
a {
  text-decoration: none;
}
h3 {
  color: $font-primary;
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 6px;
  margin-top: 0px;
} 
h4 {
  color: $font-secondary;
  margin-bottom: 6px;
  margin-top: 0; 
  font-size: 0.9em;
  font-weight: 400;
  margin: 4px 0;
}
h5 {
  color: $font-tertiary; 
  font-size: 0.9em;
  font-weight: 400;
  margin: 2px 0;
}
.container {  
  display: flex;
  flex-flow: column wrap;
  flex: 0 0 100%;
  height: 350px;
  padding-bottom: 10px;
  margin-top: -34px;

  @include for-size(tablet-portrait-up) {
    flex: 0 0 50%;
    padding: 8px;
    box-shadow: none;
    margin-top: -28px;
  }

  @include for-size(desktop-up) {
    flex: 0 0 25%;
    height: 290px;
  }
}
.img-container {
  flex: 2;
  min-height: 200px;
  overflow: hidden;
  background-size: cover;

  @include for-size(desktop-up) {
  min-height: 140px;

  }
}
.text-container {
  flex: 1;
  background: $card-text-bg-color;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  box-shadow: $shadow-primary-color2;

  @include for-size(desktop-up) {
    min-height: 110px;
  }
}
.text-content {
  padding: 10px;
}
.card-bed-bathroom-sqft {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
}
.icon-desc{
  margin-left: 4px;
  margin-right: 8px;
}
.card-built {
  position: relative;
  float: right;
  margin: 0;
  padding: 0;
  color: $font-tertiary; 
  font-size: 0.6em;
  font-weight: 400;
}
.card-address {
  white-space: nowrap;
  overflow: hidden; 
}