@import '../../styles/global-variables.scss';
@import '../../styles/media-query.scss';

.fitler{
  display: flex;
  flex-flow: column nowrap;
  margin-top: 40px;
}

.filter-header{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 10px 0;
}

.filter-icon {
  margin-right: 10px;
}

.filter-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
}

.filter-btn {
  flex: 0 0 42px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 42px;
  border: 1px solid $font-beige;
  border-radius: 4px;
  margin: 14px 0;
  font-weight: 400;
  font-size: 0.8em;
  color: $nav-secondary-color;
  background: none;
  
  &.active {
    background: $nav-tertiary-color;
    color: $nav-primary-color;
  }
  
  @include for-size(desktop-up) {
    width: 160px;
  }
}
